<div class="container-fluid">
    <div class="row">
        <div class="LogoAP col-3">
            <img src="\assets\APLogo.png" alt="Logo Argentina Programa" class="Logap">
        </div>
        <div class="LogosRedesSociales col-4">
            <img src="\assets\facebook.png" alt="Logo Facebook" class="LRS">
            <img src="\assets\github.png" alt="Logo Github" class="LRS">
            <img src="\assets\instagram.png" alt="Logo Instagram" class="LRS">
            <img src="\assets\linkedin.png" alt="Logo Linkedin" class="LRS">
            <img src="\assets\twitter.png" alt="Logo Twitter" class="LRS">
            <img src="\assets\login.png" alt="Logo Login" class="LRS">



        </div>
    </div>
</div>